.banner {
    &__content {
        margin-top: -1px;
    }
    
    &__img {
        display: block;
        margin-top: -180px;

        @include tablet {
            margin-top: 0;
        }
    }

}