.footer {

    &__inner {
        margin-top: -1px;
        padding: 20px 93px;
        background-color: #CDFD3B;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        color: var(--dark-color);
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; 
        letter-spacing: 0.5px;
        text-transform: uppercase;
    }
}