<header class="header">
  <div class="header__wrapper">
    <div class="container-fluid">
      <div class="header__body flex">
        <a href="#" class="header__logo">ROBO.SCHOOL</a>
        <nav class="nav" title="Главная навигация">
          <ul class="list-reset nav__list flex">
            <li class="nav__item"><a href="#about" class="nav__link" data-scroll>О школе</a></li>
            <li class="nav__item"><a href="#trainers" class="nav__link" data-scroll>Тренеры</a></li>
            <li class="nav__item"><a href="#" class="nav__link" data-scroll>Стоимость</a></li>
          </ul>
        </nav>
        <a href="tel:78000001122" class="header__phone">+7 800 000 11 22</a>
      </div>
    </div>
  </div>
</header>
