<section class="package">
  <div class="container">
    <h2 class="package__title section-title">Выберите нужный пакет</h2>
    <ul class="package__list list-reset grid">
      <li class="package__item package__item--current">
        <h3 class="package__chapter">– PRO –</h3>
        <p class="package__price">20.000 ₽</p>
        <p class="package__text">УМК по робототетхнике  и программированию</p>
        <a href="#" class="package__link link">Оставить заявку</a>
      </li>
      <li class="package__item">
        <h3 class="package__chapter">– ROBO –</h3>
        <p class="package__price">15.000 ₽</p>
        <p class="package__text">УМК по робототетхнике </p>
        <a href="#" class="package__link link">Оставить заявку</a>
      </li>
      <li class="package__item">
        <h3 class="package__chapter">– PROG –</h3>
        <p class="package__price">10.000 ₽</p>
        <p class="package__text">УМК по программированию</p>
        <a href="#" class="package__link link">Оставить заявку</a>
      </li>
    </ul>
  </div>
</section>
