<header class="header header--position">
  <div class="container flex header__container">
    <a href="#" class="logo header__logo">
      <img src="img/logo.svg" alt="Recediviz logo">
    </a>
    <nav class="menu flex" data-menu>
      <ul class="list-reset menu__list flex">
        <li class="menu__item">
          <a href="#" class="menu__link">States</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Tools</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">People</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Learn More</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Donate</a>
        </li>
      </ul>
      <a href="#" class="menu__link">Log in</a>
    </nav>
    <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
