<section class="information">
    <div class="container grid">
        <h3 class="information__title">Get the right information to the right person at the right time.</h3>
        <ul class="information__list list-reset">
            <li class="information__item">
                <p class="information__item--title">For Leaders</p>
                <p class="information__item--descr">Set goals, forecast the impact of policy or practice changes, and track their outcomes across your agency.</p>
            </li>
            <li class="information__item">
                <p class="information__item--title">For Line Staff</p>
                <p class="information__item--descr">Track probation and parole outcomes, see what’s leading to success, and reduce recidivism with our case management system.</p>
            </li>
            <li class="information__item">
                <p class="information__item--title">For the Public</p>
                <p class="information__item--descr">Use open source code, public data, interactive tools, and data visualizations to understand the state of incarceration, promote accountability, and conduct research.</p>
            </li>
            <li class="information__item">
                <p class="information__item--title">For Policymakers and Advocates</p>
                <p class="information__item--descr">Project the impact of policies on carceral, fiscal, and community outcomes. Understand where disparities begin, where they grow, and whether a policy is likely to increase or reduce them.</p>
            </li>
        </ul>
    </div>
</section>