<section class="press">
    <div class="container">
        <div class="press__top">
            <h3 class="press__title">Recidiviz in the Press</h3>
            <a href="#" class="press__btn btn">See All</a>
        </div>
        <ul class="press__list list-reset grid">
            <li class="press__item">
                <article class="press-block">
                    <div class="press-block__top">
                        <p class="press-block__author press-block__author--ted">TED Talks</p>
                        <time datetime="2022-02-02" class="press-block__date">2.22.22</time>
                    </div>
                    <h4 class="press-block__title">
                        <a href="#" class="press-block__link">Meet the 2022 class of TED Fellows</a>
                    </h4>
                </article>
            </li>
            <li class="press__item">
                <article class="press-block">
                    <div class="press-block__top">
                        <p class="press-block__author press-block__author--cn">Correctional News</p>
                        <time datetime="2022-02-02" class="press-block__date">2.2.22</time>
                    </div>
                    <h4 class="press-block__title">
                        <a href="#" class="press-block__link">New Partnership Aims to Help Transform Prison Conditions</a>
                    </h4>
                </article>
            </li>
            <li class="press__item">
                <article class="press-block">
                    <div class="press-block__top">
                        <p class="press-block__author press-block__author--doj">Department of Justice</p>
                        <time datetime="2022-02-02" class="press-block__date">1.26.22</time>
                    </div>
                    <h4 class="press-block__title">
                        <a href="#" class="press-block__link">Justice Department Establishes Initiative to Strengthen States’ Use of Criminal Justice Data</a>
                    </h4>
                </article>
            </li>
            <li class="press__item">
                <article class="press-block">
                    <div class="press-block__top">
                        <p class="press-block__author press-block__author--nyt">The New York Times</p>
                        <time datetime="2022-02-02" class="press-block__date">12.27.21</time>
                    </div>
                    <h4 class="press-block__title">
                        <a href="#" class="press-block__link">The 2021 Good Tech Awards</a>
                    </h4>
                </article>
            </li>
            <li class="press__item">
                <article class="press-block">
                    <div class="press-block__top">
                        <p class="press-block__author press-block__author--corrections1">Corrections1</p>
                        <time datetime="2022-02-02" class="press-block__date">11.18.21</time>
                    </div>
                    <h4 class="press-block__title">
                        <a href="#" class="press-block__link">Maine DOC to better harness correctional data to improve outcomes</a>
                    </h4>
                </article>
            </li>
            <li class="press__item">
                <article class="press-block">
                    <div class="press-block__top">
                        <p class="press-block__author press-block__author--roc">Right on Crime</p>
                        <time datetime="2022-02-02" class="press-block__date">9.9.21</time>
                    </div>
                    <h4 class="press-block__title">
                        <a href="#" class="press-block__link">Together, We Can Make Mississippi Safer and Reentry-Ready</a>
                    </h4>
                </article>
            </li>
        </ul>
    </div>
</section>