<header class="header">
  <div class="container">
    <div class="header__inner flex border">
      <a href="#" class="header__link btn">Go back</a>
      <nav class="menu" title="Naviagation">
        <ul class="menu__list list-reset flex">
          <li class="menu__item">
            <a href="#" class="menu__link">story</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">shop</a>
          </li>
          <li class="menu__item menu__item--logo">
            <a href="" class="menu__link">
              <img class="menu__logo" src="../img/logo.svg" alt="logo">
            </a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">contact</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">wholesale</a>
          </li>
        </ul>
      </nav>
    <button class="header__btn btn btn-reset">clone</button>
    </div>
  </div>
</header>
