<section class="hero">
    <div class="container">
        <div class="hero__inner flex">
            <div class="hero__left">
                    <div class="hero__block border">
                        <img class="hero__cover" src="../img/hero-img.svg" alt="UJJO" width="697" height="424">
                    </div>
                    <div class="hero__ticker ticker border">
                        <div class="ticker__wrapper">
                            <div class="ticker__item">
                                <span>put some fire in your belly</span>
                            </div>
                            <div class="ticker__item">
                                <span>put some fire in your belly</span>
                            </div>
                            <div class="ticker__item">
                                <span>put some fire in your belly</span>
                            </div>
                            <div class="ticker__item">
                                <span>put some fire in your belly</span>
                            </div>
                        </div>
                    </div>
                    <div class="hero__pict border">
                        <img class="hero__img" src="img/hero-pict.jpg" alt="papper" width="657" height="436">
                    </div>
            </div>
            <div class="hero__right">
                <div class="hero__titlebox border">
                    <h1 class="hero__title">THE FIRST HOT SAUCE MADE FOR COFFEE</h1>
                </div>
                <div class="hero__main border">
                    <img src="img/hero-main.jpg" alt="papper" width="656" height="705">
                </div>
            </div>
        </div>
    </div>
</section>