.header {
    padding: 17px 0;
    &__container {
        align-items: center;
        justify-content: space-between;
    }

    &--position {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 50;
    }
}

.menu {
    align-items: center;
    padding-right: 16px;

    @include small-tablet {
        position: fixed;
        left: 0;
        top: 0;
        width: 80%;
        background-color: #000F0F;
        height: 100vh;
        z-index: 100;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 51px;
        overflow-y: auto;
        padding: 32px;
        transform: translateX(-100%);
        transition: transform .3s ease-in-out, visibility .3s ease-in-out ;
        visibility: hidden;
    }

    &__list {
        align-items: center;
        margin-right: 32px;

        @include small-tablet {
            margin-right: 0;
            align-items: flex-start;
            flex-direction: column;
            row-gap: 51px;
        }
    }

    &__item:not(:last-child) {
        margin-right: 51px;
    }

    &__link {
        font-size: var(--main-size);
        color: var(--light-color);
        transition: color 0.3s ease-in-out;

        @include small-tablet {
            font-size: 25px;
        }

        &:focus {
            outline: none;
        }


        @include hover {
            color: var(--accent-color);
        }

        &:active {
            color: var(--active-color);
        }
    }

   
}

.menu__link.focus-visible {
    outline: 1px solid var(--accent-color);
    outline-offset: 3px;
}

.menu.menu--active {
    transform: none;
    visibility: visible;
}